<div class="page-<%=dashedName %>-edit">
    <div>
        <button type="button"
                ui-sref="private.TestModelList"
                class="btn btn-default">
            <i class="glyphicon glyphicon-backward"></i>
            Back to overview
        </button>
        <button type="button"
                ui-sref="private.TestModelView({id:model.id})"
                class="btn btn-default">
            <i class="glyphicon glyphicon-play"></i>
            View
        </button>
    </div>

    <h2>{{ model.id }} {{ model.title||model.name }} </h2>

    <form ng-submit="vm.createOrUpdate()"
          name="vm.form"
          novalidate>
        <formly-form model="vm.model"
                     fields="vm.fields"
                     options="vm.options"
                     form="vm.form">
            <button type="submit"
                    class="btn btn-primary submit-button">
                <i class="glyphicon glyphicon-save"></i>
                Save
            </button>

        </formly-form>
    </form>
    <h2>Form Data</h2>
    <pre>{{vm.model | json}}</pre>
</div>
