<div class="page-<%=dashedName %>-edit">
    <div>
        <button type="button"
                ui-sref="<%=overviewStateFull%>"
                class="btn btn-default">
            <i class="glyphicon glyphicon-backward"></i>
            Back to overview
        </button>
        <button type="button"
                ng-if="vm.model.id"
                ui-sref="<%=viewStateFull%>({id:vm.model.id})"
                class="btn btn-default">
            <i class="glyphicon glyphicon-play"></i>
            View
        </button>
    </div>

    <h2>{{ vm.model.id }} {{ vm.model.title||vm.model.name }} </h2>

    <form ng-submit="vm.createOrUpdate()"
          name="vm.form"
          novalidate>
        <formly-form model="vm.model"
                     fields="vm.fields"
                     options="vm.options"
                     form="vm.form">
            <button type="submit"
                    class="btn btn-primary submit-button">
                <i class="glyphicon glyphicon-save"></i>
                Save
            </button>

        </formly-form>
    </form>
    <h3>Model Data</h3>
    <pre>{{vm.model | json}}</pre>
</div>
