<div class="page-<%=dashedName %>-overview">
    <button type="button"
            ui-sref="<%=editStateFull%>"
            class="btn btn-success">
        <i class="glyphicon glyphicon-plus">
        </i> Add new item
    </button>

    <table st-table="displayedCollection"
           st-safe-src="rowCollection"
           class="table table-striped">
        <thead>
            <tr>
                <th colspan="5">
                    <input st-search=""
                           class="form-control"
                           placeholder="Search ..."
                           type="text"/>
                </th>
            </tr>
            <tr>
                <th st-sort="id">id</th>
                <th st-sort="title">title</th>
                <th st-sort="createdAt"
                    ng-if="createdAt">createdAt
                </th>
                <th st-sort="updatedAt"
                    ng-if="updatedAt">updatedAt
                </th>
                <th style="text-align: right">actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in displayedCollection">
                <td>{{row.id}}</td>
                <td>{{row.name||row.title}}</td>
                <td ng-if="createdAt">{{row.createdAt|date}}</td>
                <td ng-if="updatedAt">{{row.updatedAt|date}}</td>
                <td style="text-align: right">
                    <button type="button"
                            ng-click="removeItem(row)"
                            class="btn btn-sm btn-danger">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <button type="button"
                            ui-sref="<%=editStateFull%>({id:row.id})"
                            class="btn btn-sm btn-info">
                        <i class="glyphicon glyphicon-edit"></i>
                    </button>
                    <button type="button"
                            ui-sref="<%=viewStateFull%>({id:row.id})"
                            class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-play"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
