<div class="page-<%=dashedName %>-view">
    <div>
        <button type="button"
                ui-sref="<%=overviewStateFull%>"
                class="btn btn-default">
            <i class="glyphicon glyphicon-backward">
            </i> Back to overview
        </button>
        <button type="button"
                ui-sref="<%=editStateFull%>({id:vm.model.id})"
                class="btn btn-info">
            <i class="glyphicon glyphicon-edit">
            </i> Edit
        </button>
    </div>

    <h2>{{ vm.model.id }} {{ vm.model.name || vm.model.title }} </h2>
    <pre class="code">{{ vm.model|json }}</pre>
</div>
