<p class="input-group">
    <input type="text"
           id="{{::id}}"
           name="{{::id}}"
           ng-model="model[options.key]"
           class="form-control"
           ng-click="formlyDatePicker.open($event)"
           datepicker-popup="{{to.datepickerOptions.format}}"
           is-open="formlyDatePicker.status.opened"
           datepicker-options="to.datepickerOptions"/>
        <span class="input-group-btn">
            <button type="button"
                    class="btn btn-default"
                    ng-click="formlyDatePicker.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
</p>